@model IEnumerable<TeknikDestek1.Models.Document>



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a asp-action="Create">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentBanner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.References)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Writer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DocumentName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DocumentDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DocumentSubject)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DocumentInfo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DocumentBanner)
        <img src="@Url.Content(item.DocumentBanner)" class="d-block w-50" asp-append-version="true" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DocumentVideo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.References)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Writer.Id)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
